<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
        
        <!-- retchet -->
        <link rel="stylesheet" href="/site_static/phonegap-try/www/libs/ratchet/ratchet.css">
        <!-- // <script src="libs/ratchet/ratchet.js"></script> -->

        <link rel="stylesheet" href="/site_static/phonegap-try/www/css/style.css">
        <!-- // <script src="js/cordova-2.7.0.js"></script> -->
        <!-- <script src="js/vendor/zepto.min.js"></script>
        // <script src="js/vendor/underscore-min.js"></script>
        // <script src="js/vender/backbone-min.js"></script> -->
        <!-- // <script src="js/test.js"></script> -->
        
        <script data-main="/site_static/phonegap-try/www/js/app/main" src="/site_static/phonegap-try/www/js/vendor/requirejs/require.js"></script>
        <title>Hello World</title>
    </head>
    <body>
        <div id="content" class="content">
            <div id="main">
                <header class="bar-title hide">
                    <a id="swipeleft" data-dir="left" class="button top-nav" href="#leftmenu">
                        Left
                    </a>
                    <h1 class="title">Title</h1>
                    <a id="swiperight" data-dir="right" class="button top-nav" href="#rightmenu">
                        Right
                    </a>
                </header>
               
                <div class="content">
                    <ul id="timeline_panel" class="hide panel list"></ul>
                    <div id="profile_panel" class="hide panel">
                        <div class="switch-panel">
                            <div id="avatar" class="hide">avatar</div>
                            <div id="info" class="hide">info</div>
                            <div id="ques" class="hide">ques</div>
                        </div>
                        <nav class="bar-tab">
                            <ul class="tab-inner">
                                <li class="tab-item active tab" data-target="#avatar">
                                    <a href="javascript:;">
                                        <div class="tab-label">Avatar</div>
                                    </a>
                                </li>
                                <li class="tab-item tab" data-target="#info">
                                    <a href="javascript:;">
                                        <div class="tab-label">Info</div>
                                    </a>
                                </li>
                                <li class="tab-item tab" data-target="#ques">
                                    <a href="javascript:;">
                                        <div class="tab-label">Ques</div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="search_panel" class="hide panel">
                        <a class="button-block">Search Name</a>
                        <a class="button-block">Search location</a>
                    </div>
                    <div id="mydentist_panel" class="hide panel">
                        <nav class="bar-standard">
                            <ul class="segmented-controller">
                                <li class="active tab" data-target="#follow_den"><a href="javascript:;">Following</a></li>
                                <li class="tab" data-target="#con_den"><a href="javascript:;">Connecting</a></li>
                                <li class="tab" data-target="#req_den"><a href="javascript:;">Requesting</a></li>
                            </ul>
                        </nav>
                        <div class="switch-panel my-dentist">
                            <ul id="follow_den" class="list active">Following</ul>
                            <ul id="con_den" class="list hide">Connectings</ul>
                            <ul id="req_den" class="list hide">Requesting</ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="leftmenu">
                <ul class="list">
                    <li>
                        <a id="home_tab" href="#home" class="left-nav">
                            Home
                            <span class="chevron"></span>
                        </a>
                    </li>
                    <li>
                        <a id="profile" href="#profile_panel" class="left-nav">
                            Profile
                            <span class="chevron"></span>
                        </a>
                    </li>
                    <li>
                        <a id="dentist" href="#mydentist_panel" class="left-nav">
                            My Dentists
                            <span class="chevron"></span>
                        </a>
                    </li>
                    <li>
                        <a id="search" href="#search_panel" class="left-nav">
                            Find Dentists
                            <span class="chevron"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Settings
                            <span class="chevron" class="left-nav"></span>
                        </a>
                        <a href="/accounts/logout/">Signout</a>
                    </li>
                    <li class="list-divider">Notifications</li>

                </ul>
            </div>
            <div id="rightmenu">
                <ul id="denlist" class="list"></ul>
            </div>
            
        </div>
        <div id="tmpl_wrap">
            <script id="sign_up_tmpl" type="text/tmpl">
                <form action="" id="signup_form">            
                    <legend>Sign up</legend>
                    <div>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <a id="signup_btn" class="button-main button-block">Sign up</a>
                </form>
            </script>
            <script id="sign_in_tmpl" type="text/tmpl">
                <form action="" id="signin_form">
                    <legend>Sign in</legend>
                    <div>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <a id="signin_btn" class="button-main button-block">Sign in</a> 
                </form>
            </script>
            <script id="timeline_tmpl" type="text/tmpl">
                <li>
                    <img src="<%- imagephoto %>" width="50">
                    <%= content %>
                </li>
            </script>
            <script id="info_tmpl" type="text/tmpl">
                <p><%= myname %></p>
                <p><%= age %></p>
                <p><%= title_var %></p>
            </script>
        </div> 
        <!-- <div>
            <header class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Title</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </header>

            <div class="container">
                <form action="" class="form">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" placeholder="Email" class="span12">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" class="span12" placeholder="Password">
                        </div>
                    </div>
                    <a href="#" class="pull-right">Sign up</a>
                    <button class="btn btn-primary pull-right">Sign</button>
                </form>
            </div>
        </div> -->
    </body>
</html>
