#content {
}

#leftmenu,
#rightmenu {
	background: #fff;
	box-shadow: 1px -10px 10px 4px rgba(0, 0, 0, 0.3) inset;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	visibility: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

#main {
	position: fixed;
	height: 100%;
	width: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

#leftmenu ul {
	padding-left: 100px;
	margin-right: 10px;
}

#rightmenu ul {
	padding-right: 100px;
	margin-left: 10px;
}

.panel {
	height: 100%;
	width: 100%;
}

.hide {
	display: none;
}

.mask {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgb(63, 63, 63);
	opacity: .5;
}

.loader {
	position: fixed;
	z-index: 101;
	left: 45%;
	top: 45%;
	color: #fff;
	font-size: 16px;
}

.my-dentist {
	position: relative;
	top: 53px;
}